<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <div class="row flex-column flex-md-row flex-fill align-items-center">
                    <div class="col">
                        <!-- BEGIN NAVBAR MENU -->
                        <ul class="navbar-nav">
                            <li class="nav-item {% if app.current_route == 'app_front_dashboard' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('app_front_dashboard') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        {{ include('_icons/home-icon.svg.twig') }}
                                    </span>
                                    <span class="nav-link-title"> Dashboard </span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.current_route == 'app_front_heating_index' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('app_front_heating_index') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        {{ include('_icons/temperature-sun-icon.svg.twig') }}
                                    </span>
                                    <span class="nav-link-title"> Heating </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#navbar-devices"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    role="button"
                                    aria-expanded="false"
                                >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        {{ include('_icons/devices-icon.svg.twig') }}
                                    </span>
                                    <span class="nav-link-title"> Devices </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('app_front_device_monthly', {'device': 'piec'}) }}"> Piec </a>
                                    <a class="dropdown-item" href="{{ path('app_front_device_monthly', {'device': 'kominek'}) }}"> Kominek </a>
                                    <a class="dropdown-item" href="{{ path('app_front_device_monthly', {'device': 'solary'}) }}"> Solary </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#navbar-location"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    role="button"
                                    aria-expanded="false"
                                >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        {{ include('_icons/device-mobile-pin-icon.svg.twig') }}
                                    </span>
                                    <span class="nav-link-title"> Locations </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('app_front_default_location_index', {'location': 'salon', 'type': 'monthly'}) }}"> Salon </a>
                                    <a class="dropdown-item" href="{{ path('app_front_default_location_index', {'location': 'sypialnia', 'type': 'monthly'}) }}"> Sypialnia </a>
                                    <a class="dropdown-item" href="{{ path('app_front_default_location_index', {'location': 'stasiu', 'type': 'monthly'}) }}"> Stasiu </a>
                                    <a class="dropdown-item" href="{{ path('app_front_default_location_index', {'location': 'garage', 'type': 'monthly'}) }}"> Garaż </a>
                                    <a class="dropdown-item" href="{{ path('app_front_location_buffer_index') }}"> Bufor </a>
                                </div>
                            </li>
                            <li class="nav-item {% if app.current_route == 'app_front_gas_meter' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('app_front_gas_meter') }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        {{ include('_icons/flame-icon.svg.twig') }}
                                    </span>
                                    <span class="nav-link-title"> Gas </span>
                                </a>
                            </li>
                        </ul>
                        <!-- END NAVBAR MENU -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
