{% extends 'base.html.twig' %}

{% block pageTitle %}Nawadnianie{% endblock %}
{% block pagePreTitle %}{% endblock %}
{% block pageTitleActions %}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Szybkie nawadnianie</h3>
                    </div>
                    <div class="card-body">
                        <form id="valve_quick_run" method="post" action="{{ path('app_front_hydration_save_schedule') }}">
                            {% for valve in valves %}
                                <div class="row mb-1">
                                    <label for="{{ valve.name }}_duration" class="col d-flex align-items-center">
                                        {{ valve.name|trans }}
                                    </label>
                                    <div class="col-auto">
                                        <div class="input-group">
                                            <button class="btn" type="button" id="{{ valve.name }}_less" aria-label="Skróć czas podlewania">&#8592;</button>
                                            <input type="text" class="form-control text-center" id="{{ valve.name }}_duration" name="{{ valve.name }}" value="15" min="2" max="60" style="width: 45px"/>
                                            <button class="btn" type="button" id="{{ valve.name }}_more" aria-label="Wydłuż czas podlewania">&#8594;</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-azure w-100 mt-2">Uruchom sekwencję</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>
                    </div>
                    <div class="card-body">
                        Body
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/hydration/hydration-quick-run.js') }}"></script>
{% endblock %}
