{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block page %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a href="{{ path('app_front_dashboard')}}">
                        <img src="{{ asset('images/home_logo.png') }}" style="height: 30px; width: 30px">
                    </a>
                    <h2 class="my-0 ms-2 py-0 d-none d-md-block">Mikusie Home Assistance</h2>
                </div>
            </div>
            <div class="card card-md">
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <div class="alert-icon">
                                <!-- Download SVG icon from http://tabler.io/icons/icon/alert-circle -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="icon alert-icon icon-2">
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                    <path d="M12 8v4"></path>
                                    <path d="M12 16h.01"></path>
                                </svg>
                            </div>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            Jesteś zalogowany jako {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">wyloguj</a>
                        </div>
                    {% endif %}
                    <h2 class="h2 text-center mb-4">Zaloguj się</h2>
                    <form method="post" autocomplete="off" novalidate="">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Adres e-mail</label>
                            <input id="inputEmail" type="email" name="email" class="form-control" value="{{ last_username }}" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-2">
                            <label for="inputPassword" class="form-label">Password</label>
                            <div class="input-group input-group-flat">
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Sign in</button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
