{#<div class="container">#}
    {% if todayStats is not empty %}
        <div class="row">
            <div class="col">Total used energy:</div>
            <div class="col fw-bold text-end text-nowrap">{{ todayStats.energy|format_energy }}</div>
        </div>
        <div class="row">
            <div class="col">Inclusions:</div>
            <div class="col fw-bold text-end">{{ todayStats.inclusions }}</div>
        </div>
        <div class="row">
            <div class="col">Total active time:</div>
            <div class="col fw-bold text-end">{{ todayStats.totalActiveTimeReadable }}</div>
        </div>
        {% if device == 'piec' %}
            <div class="row">
                <div class="col">Est. fuel consume:</div>
                <div class="col fw-bold text-end">
                    {{ (todayStats.energy * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME'))|number_format(1) ~ ' m³' }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">Longest run time:</div>
            <div class="col fw-bold text-end">{{ todayStats.longestRunTimeReadable }}</div>
        </div>
        <div class="row">
            <div class="col">Longest pause time:</div>
            <div class="col fw-bold text-end">{{ todayStats.longestPauseTimeReadable }}</div>
        </div>
    {% else %}
        brak danych z dzisiaj
    {% endif %}
{#</div>#}

{% if historicalData is not empty %}
    <table class="table table-sm table-striped lh-1 mt-5">
        <thead>
        <tr>
            <th scope="col">Data</th>
            <th class="text-center" scope="col">Inclusions</th>
            <th class="text-end" scope="col">Energy</th>
            <th class="text-center" scope="col">Active time</th>
            {% if device == 'piec' %}
                <th class="text-center" scope="col">Est. fuel</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for stats in historicalData %}
            <tr>
                <td>{{ stats.date|date("d.m.Y") }}</td>
                <td class="text-center">{{ stats.inclusions }}</td>
                <td class="text-end text-nowrap">{{ stats.energy|format_energy }}</td>
                <td class="text-center">{{ stats.totalActiveTimeReadable }}</td>
                {% if device == 'piec' %}
                    <td class="text-center">
                        {{ (stats.energy * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME'))|number_format(1) ~ ' m³' }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
