{% extends 'base.html.twig' %}

{% block pageTitle %}{{ location|trans }}{% endblock %}
{% block pagePreTitle %}Location{% endblock %}

{% block pageTitleActions %}
    <div class="d-inline-flex">
        <div class="btn-group me-3" role="group">
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-1" autocomplete="off" {{ app.current_route ends with 'daily' ? 'checked="checked"' }}>
            <label for="btn-radio-basic-1" type="button" class="btn" onclick="location.href='{{ path('app_front_default_location_daily', {'location': location}) }}'">dzień</label>
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-2" autocomplete="off" {{ app.current_route ends with 'monthly' ? 'checked="checked"' }}>
            <label for="btn-radio-basic-2" type="button" class="btn" onclick="location.href='{{ path('app_front_default_location_monthly', {'location': location}) }}'">miesiąc</label>
{#            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-3" autocomplete="off"> #}
{#            <label for="btn-radio-basic-3" type="button" class="btn" onclick="location.href='{{ path('app_front_device_yearly', {'device': device.name}) }}'">rok</label> #}
        </div>
        {% block buttons %}{% endblock %}
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row d-md-none mb-md-0 mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <select class="form-select" id="location-changer-select">
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'salon'}) }}" {{- location == 'salon' ? 'selected' -}}>Salon</option>
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'sypialnia'}) }}" {{- location == 'sypialnia' ? 'selected' -}}>Sypialnia</option>
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'stasiu'}) }}" {{- location == 'stasiu' ? 'selected' -}}>Stasiu</option>
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'dziewczynki'}) }}" {{- location == 'dziewczynki' ? 'selected' -}}>Dziewczynki</option>
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'biuro'}) }}" {{- location == 'biuro' ? 'selected' -}}>Biuro</option>
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'garage'}) }}" {{- location == 'garage' ? 'selected' -}}>Garaż</option>
                            <option data-url="{{ path('app_front_default_location_monthly', {'location': 'ogrod'}) }}" {{- location == 'ogrod' ? 'selected' -}}>Ogród</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const select = document.getElementById('location-changer-select');

            if (!select) {
                return;
            }

            select.addEventListener('change', () => {
                const selectedOption = select.options[select.selectedIndex];
                const url = selectedOption.dataset.url;

                if (url) {
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock pagejs %}
