{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pullee_range_input.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 g-3">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="accordion" id="devicesControl">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#gate-control" aria-controls="#gate-control">
                                        Brama
                                    </button>
                                </h2>
                                <div id="gate-control" class="accordion-collapse collapse" data-bs-parent="#devicesControl">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-auto ps-1 pe-0">
                                                <img id="gate-status"
                                                     src="{{ asset('images/question_mark.svg') }}"
                                                     data-open-svg="{{ asset('images/gate/gate_open.svg') }}"
                                                     data-closed-svg="{{ asset('images/gate/gate_closed.svg') }}"
                                                     height="80px" width="80px"
                                                     alt="gate status">
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <input id="gate_opener_range_input" type="range" class="pullee" value="0" />
                                                <div id="gate_opener_info_button_div" class="d-none gap-2 mb-2 w-100">
                                                    <button id="gate_opener_info_button" class="btn btn-primary disabled w-100" type="button">
                                                        Waiting for response...
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-auto d-flex align-items-center">
                                                <button id="gate_opener_button" type="button" class="btn btn-outline-secondary fw-bold" style="max-width: 50px; max-height: 50px">
                                                    &#8644;
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="gate_opener_progress_bar" class="progress d-none">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                                         style="width: 0"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#cover-control" aria-controls="#cover-control">
                                        Rolety
                                    </button>
                                </h2>
                                <div id="cover-control" class="accordion-collapse collapse" data-bs-parent="#devicesControl">
                                    <div class="accordion-body">
                                        <div class="btn-group w-100" role="group">
                                            <button type="button" data-role="close" class="btn btn-outline-secondary w-50 fw-bolder">&#8615; Zamknij &#8615;</button>
                                            <button type="button" data-role="open" class="btn btn-outline-secondary w-50 fw-bolder">&#8613; Otwórz &#8613;</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="temperatures_row" style="height: 420px;">
            <div class="col-lg-4 d-none d-lg-block g-3">
                <div class="card">
                    <div class="card-body">
                        <div id="weather_forecast_carousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <iframe src="https://www.yr.no/en/content/2-3085949/card.html" width="100%" height="365" style="border: none; overflow: hidden;"></iframe>
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.yr.no/en/content/2-3085949/meteogram.svg" width="100%" height="365">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#weather_forecast_carousel" data-bs-slide="prev" style="margin: -35px">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#weather_forecast_carousel" data-bs-slide="next" style="margin: -35px">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12 g-3">
                <div class="card h-100">
                    <div class="card-header text-capitalize fw-bold">
                        Temperatury
                        <a class="float-end link-secondary" href="{{ path('app_front_heating') }}">Heating</a>
                        <button type="button" class="btn btn-sm btn-light float-end py-0 me-2"
                                data-bs-toggle="modal"
                                data-bs-target="#deviceStatusModal"
                                data-action="status"
                                data-device-id="{{ constant('App\\Model\\Location\\Buffer::DEVICE_ID') }}"
                        >
                            &#9432;
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="temperatures_card">
                            <div class="row">
                                {% for location in locations %}
                                    <div class="col text-center">
                                        {% for device in temperatures|filter(v => v.device == location) %}
                                            <a href="#" class="btn btn-sm btn-light" data-action="history"
                                               data-location="{{ location }}"
                                               data-bs-toggle="modal"
                                               data-bs-target="#locationTemperatureChartModal">
                                                {{ location|trans }}
                                            </a>
                                            <span class="fw-bold fs-5 text-nowrap">
                                        {{ device.value|number_format(1) }} °C
                                    </span>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="temperature_chart_modal_content">
                            <canvas id="temperatureChart" style="width: 100%; max-height: 290px;"></canvas>
                        </div>
                        <h5 id="no_data_modal" class="text-center my-5">Brak danych dla zadanego okresu</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-device-names="{{ devices|map((device) => device.name)|join('|') }}"></div>
            {% for device in devices %}
                <div class="col-xl-4 col-md-6 col-12 g-3">
                    <div id="{{ device.name }}_device_card">
                        <div class="card">
                            <div class="card-header text-capitalize fw-bold">
                                <button type="button" class="btn btn-sm btn-light float-end py-0"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deviceStatusModal"
                                        data-action="status"
                                        data-device-id="{{ device.deviceId }}"
                                >
                                    &#9432;
                                </button>
                                {{ device.name }}
                            </div>
                            <div class="card-body">
                                {% if device.history is not empty %}
                                    <div class="row">
                                        <div class="col-auto pe-1">
                                            <button class="btn btn-light" data-action="stats" data-device-name="{{ device.name }}"
                                                    data-bs-toggle="offcanvas" href="#offcanvasDeviceStats">
                                                &#128202;
                                            </button>
                                        </div>
                                        <div class="col px-1">
                                            {% if device.history[0].status == constant('App\\Model\\Status::ACTIVE') %}
                                                <button type="button" class="btn btn-success w-100 fw-bold text-nowrap" style="cursor: default">
                                                    RUNNING
                                                    [<span class="current_status_duration">{{ device.history[0].statusDuration|readableDurationTime }}</span>]
                                                    {{ device.history[0].lastValue }} W
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-warning w-100 fw-bold text-nowrap" style="cursor: default">
                                                    STANDBY
                                                    [<span class="current_status_duration">{{ device.history[0].statusDuration|readableDurationTime }}</span>]
                                                    {{ device.history[0].lastValue }} W
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto ps-1">
                                            <button class="btn btn-light" data-action="history" data-device-name="{{ device.name }}"
                                                    data-bs-toggle="offcanvas" href="#offcanvasDeviceHistory">
                                                &#128338;
                                            </button>
                                        </div>
                                    </div>
{#                                    <table class="table table-sm">#}
{#                                        <tr>#}
{#                                            <td>Status duration:</td>#}
{#                                            <td class="text-end"><span class="fw-bold current_status_duration">{{ statuses[0].statusDuration|readableDurationTime }}</span></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td>Current energy consumption:</td>#}
{#                                            <td class="text-end"><span class="fw-bold">{{ statuses[0].lastValue }} W</span></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td>Duration of the previous status: </td>#}
{#                                            <td class="text-end"><span class="fw-bold">{{ statuses[1].statusDuration|readableDurationTime }}</span></td>#}
{#                                        </tr>#}
{#                                    </table>#}
                                {% else %}
                                    <small>brak danych</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 g-3">
                <div class="card">
                    <div class="card-header fw-bold">
                        Gazomierz
                    </div>
                    <div class="card-body">
                        {% include 'front/forms/gas_meter_form.html.twig' with {
                            'form': gasMeterForm
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block offcanvas %}
    {% include 'front/_offcanvas/device_stats_offcanvas.html.twig' %}
    {% include 'front/_offcanvas/device_history_offcanvas.html.twig' %}
{% endblock %}

{% block modals %}
    {% include 'front/_modals/temperature_chart_modal.html.twig' %}
    {% include 'front/_modals/device_status_modal.html.twig' %}
{% endblock %}

{% block body_javascripts %}
    <script type="text/javascript" src="{{ asset('js/supla_gate_opener.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/collape_controllers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/device_stats_offcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/device_history_offcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/refresh_device_card.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/refresh_temperatures_card.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/temp_chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/location_temp_chart_modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/device_status_modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/forecast_widget_reload.js') }}"></script>
{% endblock %}
