{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div data-device-names="{{ devices|map((deviceData, name) => name)|join('|') }}"></div>
            {% for name, statuses in devices %}
                <div class="col-xl-4 col-md-6 col-12 g-3">
                    <div id="{{ name }}_device_card">
                        <div class="card">
                            <div class="card-header text-capitalize fw-bold">
                                {{ name }}
                            </div>
                            <div class="card-body">
                                {% if statuses is not empty %}
                                    {% for deviceStatus in statuses %}
                                        {% if loop.first %}
                                            {% if deviceStatus.status == constant('App\\Model\\Status::ACTIVE') %}
                                                <button type="button" class="btn btn-success w-100 fw-bold mb-2" style="cursor: default">
                                                    RUNNING
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-warning w-100 fw-bold mb-2" style="cursor: default">
                                                    STANDBY
                                                </button>
                                            {% endif %}
                                            <br>Status duration:
                                            <span class="fw-bold current_status_duration">{{ deviceStatus.statusDuration|readableDurationTime }}</span>
                                            <br>Current energy consumption: <b>{{ deviceStatus.lastValue }} W</b>
                                        {% else %}
                                            <br>Duration of the previous status: <b>{{ deviceStatus.statusDuration|readableDurationTime }}</b>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="text-center mt-2">
                                        <a data-bs-toggle="offcanvas" href="#offcanvasDeviceStats" data-device-name="{{ name }}">
                                            Zobacz więcej statystyk
                                        </a>
                                    </div>
                                {% else %}
                                    <small>brak danych</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 g-3">
                <div class="card">
                    <div class="card-header fw-bold">
                        Gazomierz
                    </div>
                    <div class="card-body">
                        {% include 'front/forms/gas_meter_form.html.twig' with {
                            'form': gasMeterForm
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block offcanvas %}
    {% include 'front/_offcanvas/device_stats_offcanvas.html.twig' %}
{% endblock %}

{% block body_javascripts %}
    <script type="text/javascript" src="{{ asset('js/device_stats_offcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/refresh_device_card.js') }}"></script>
{% endblock %}
