{% extends 'base.html.twig' %}

{% block customCss %}
    <style>
       /* CSS */
       .no-scrollbar {
          overflow-y: auto; /* przewijanie włączone */
          -webkit-overflow-scrolling: touch; /* płynne przewijanie na iOS */
          scrollbar-width: none; /* Firefox: ukryj pasek */
          -ms-overflow-style: none; /* Stare IE/Edge: ukryj pasek */
       }

       /* WebKit (Chrome, Safari, Edge Chromium): ukryj pasek */
       .no-scrollbar::-webkit-scrollbar {
          width: 0;
          height: 0;
          display: none;
       }
    </style>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-deck row-cards align-items-stretch">
            <div class="col-md-4 col-12 d-inline">
                {% include 'front/dashboard/_partials/weather.html.twig' %}
                {% include 'front/dashboard/_partials/heating_controllers.html.twig' %}
            </div>
            <div class="col-md-8 col-12 d-none d-md-flex">
                {% include 'front/dashboard/_partials/heating_chart.html.twig' %}
            </div>
        </div>
    </div>
    <div id="devices_controllers" class="container-xl mt-3">
        <div class="row row-deck row-cards">
            {% include 'front/dashboard/_partials/device_controllers.html.twig' %}
        </div>
    </div>
    <div id="reloadable-box">
        <div id="devices_status" class="container-xl mt-3" data-device-names="{{ devices|map((device) => device.name)|join('|') }}">
            <div class="row row-cards">
                {% include 'front/dashboard/_partials/device_status.html.twig' %}
            </div>
        </div>
        <div id="temperatures_card" class="container-xl mt-3">
            <div class="row row-deck row-cards">
                {% include 'front/dashboard/_partials/location_temperatures.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'front/_modals/heating_controller_modal.html.twig' %}
    {% include 'front/_modals/wheather_table_modal.html.twig' %}
    {% include 'front/_modals/wheather_meteogram_modal.html.twig' %}
    {% include 'front/_modals/wheather_card_modal.html.twig' %}
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/device_status.js') }}"></script>
    <script src="{{ asset('js/device_control.js') }}"></script>
    <script src="{{ asset('js/location_temperatures.js') }}"></script>
    <script src="{{ asset('js/heating_simple_chart.js') }}"></script>
{% endblock %}
