{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 g-3">
                <div class="card">
                    <div class="card-header text-capitalize fw-bold">
                        Temperatury
                    </div>
                    <div class="card-body">
                        <div id="temperatures_card">
                            <div class="row">
                                {% for location in ['bufor', 'zasilanie', 'powrot', 'salon'] %}
                                    <div class="col-4 text-center">
                                        {% for device in temperatures|filter(v => v.device == location) %}
                                            <div> {{ location|trans }}</div>
                                            <div class="fw-bold fs-5">{{ device.value|number_format(1) }} °C</div>
                                            <div>
                                                <button type="button" class="btn btn-sm btn-light" data-action="history" data-location="{{ location }}"
                                                        data-bs-toggle="modal" data-bs-target="#locationTemperatureChartModal">
                                                    &#128202;
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="temperature_chart_modal_content">
                            <canvas id="temperatureChart" style="width: 100%; max-height: 400px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-device-names="{{ devices|map((deviceData, name) => name)|join('|') }}"></div>
            {% for name, statuses in devices %}
                <div class="col-xl-4 col-md-6 col-12 g-3">
                    <div id="{{ name }}_device_card">
                        <div class="card">
                            <div class="card-header text-capitalize fw-bold">
                                {{ name }}
                            </div>
                            <div class="card-body">
                                {% if statuses is not empty %}
                                    <div class="row">
                                        <div class="col-auto">
                                            <button class="btn btn-light" data-action="stats" data-device-name="{{ name }}"
                                                    data-bs-toggle="offcanvas" href="#offcanvasDeviceStats">
                                                &#128202;
                                            </button>
                                        </div>
                                        <div class="col">
                                            {% if statuses[0].status == constant('App\\Model\\Status::ACTIVE') %}
                                                <button type="button" class="btn btn-success w-100 fw-bold mb-2" style="cursor: default">
                                                    RUNNING
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-warning w-100 fw-bold mb-2" style="cursor: default">
                                                    STANDBY
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-light" data-action="history" data-device-name="{{ name }}"
                                                    data-bs-toggle="offcanvas" href="#offcanvasDeviceHistory">
                                                &#128338;
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table table-sm">
                                        <tr>
                                            <td>Status duration:</td>
                                            <td class="text-end"><span class="fw-bold current_status_duration">{{ statuses[0].statusDuration|readableDurationTime }}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Current energy consumption:</td>
                                            <td class="text-end"><span class="fw-bold">{{ statuses[0].lastValue }} W</span></td>
                                        </tr>
                                        <tr>
                                            <td>Duration of the previous status: </td>
                                            <td class="text-end"><span class="fw-bold">{{ statuses[1].statusDuration|readableDurationTime }}</span></td>
                                        </tr>
                                    </table>
                                {% else %}
                                    <small>brak danych</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 g-3">
                <div class="card">
                    <div class="card-header fw-bold">
                        Gazomierz
                    </div>
                    <div class="card-body">
                        {% include 'front/forms/gas_meter_form.html.twig' with {
                            'form': gasMeterForm
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block offcanvas %}
    {% include 'front/_offcanvas/device_stats_offcanvas.html.twig' %}
    {% include 'front/_offcanvas/device_history_offcanvas.html.twig' %}
{% endblock %}

{% block modals %}
    {% include 'front/_modals/temperature_chart_modal.html.twig' %}
{% endblock %}

{% block body_javascripts %}
    <script type="text/javascript" src="{{ asset('js/device_stats_offcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/device_history_offcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/refresh_device_card.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/refresh_temperatures_card.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/temp_chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/location_temp_chart_modal.js') }}"></script>
{% endblock %}
