{{ form_start(form) }}
<div class="row">
    <div class="col">
        <div id="indicationHelp" class="form-text mt-0 mb-1">
            Poprzedni odczyt  ({{ lastGasMeterIndication.createdAt|date("d.m.Y H:i") }}):
            <b>{{ lastGasMeterIndication.indication }} m<sup>3</sup></b>
        </div>
    </div>
</div>
<div class="row g-3">
    <div class="col">
        <div class="form-floating">
            <div class="input-group input-group-sm">
                <span class="input-group-text">Odczyt</span>
                {{ form_widget(form.indication) }}
                <span class="input-group-text">m<sup>3</sup></span>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm">Zapisz</button>
    </div>
</div>
{{ form_end(form) }}
