<div class="modal fade" id="heatingControllerModal" tabindex="-1" aria-labelledby="heatingControllerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-3 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sterowanie ogrzewaniem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form method="post" action="{{ path('app_device_heating_pump_index') }}" class="text-center">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('heating_pump_controller') }}" />
                    <div class="mb-4">
                        Możesz ustawić czas włączenia i wyłączenia ogrzewania. Jeśli pozostawisz pola puste włączenie nastąpi automatycznie
                    </div>
                    <div class="row my-5 justify-content-center">
                        {% if isHeatingActive %}
                            <div class="col-md-5 col-12">
                                <label class="form-label" for="heating_send">Wyłączenie</label>
                                <input type="datetime-local" class="form-control mb-2" id="heating_end" name="heating_end_on" min="{{ "now"|date('Y-m-d H:i') }}">
                            </div>
                            <div class="col-md-5 col-12">
                                <label class="form-label" for="heating_start">Ponowne włączenie</label>
                                <input type="datetime-local" class="form-control mb-2" id="heating_start" name="heating_start_on">
                            </div>
                        {% else %}
                            <div class="col-md-5 col-12">
                                <label class="form-label" for="heating_start">Włączenie</label>
                                <input type="datetime-local" class="form-control mb-2" id="heating_start" name="heating_start_on" min="{{ "now"|date('Y-m-d H:i') }}">
                            </div>
                            <div class="col-md-5 col-12">
                                <label class="form-label" for="heating_end">Wyłączenie</label>
                                <input type="datetime-local" class="form-control mb-2" id="heating_end" name="heating_end_on">
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit"
                            class="btn btn-success btn-4 w-75 mb-3"
                            name="heating_action"
                            value="{{ isHeatingActive ? 'turn_off' : 'turn_on' }}">
                        {{ isHeatingActive ? 'Wyłącz ogrzewanie natychmiast' : 'Włącz ogrzewanie natychmiast' }}
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Zamknij okno</button>
            </div>
        </div>
    </div>
</div>
