<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.3.2
* @link https://tabler.io
* Copyright 2018-2025 The Tabler Authors
* Copyright 2018-2025 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Mikusie Home Assistance</title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ asset('css/tabler.css') }}?v=0.1" rel="stylesheet"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PLUGINS STYLES -->
    <link href="{{ asset('css/tabler-flags.css') }}?v=0.1" rel="stylesheet"/>
    <link href="{{ asset('css/tabler-socials.css') }}?v=0.1" rel="stylesheet"/>
    <link href="{{ asset('css/tabler-payments.css') }}?v=0.1" rel="stylesheet"/>
    <link href="{{ asset('css/tabler-vendors.css') }}?v=0.1" rel="stylesheet"/>
    <link href="{{ asset('css/tabler-marketing.css') }}?v=0.1" rel="stylesheet"/>
    <link href="{{ asset('css/tabler-themes.css') }}?v=0.1" rel="stylesheet"/>
    <!-- END PLUGINS STYLES -->
    <!-- BEGIN CUSTOM FONT -->
    <style>
       @import url("{{ asset('css/inter.css') }}");
    </style>
    <!-- END CUSTOM FONT -->
</head>
<body>
<!-- BEGIN GLOBAL THEME SCRIPT -->
<script src="{{ asset('js/tabler-theme.js') }}?v=0.1"></script>
<!-- END GLOBAL THEME SCRIPT -->
{% block page %}
<div class="page">
    <!-- BEGIN NAVBAR  -->
    {% include '_partials/_header.html.twig' %}
    {% include '_partials/_navbar.html.twig' %}
    <!-- END NAVBAR  -->
    <div class="page-wrapper">
        <!-- BEGIN PAGE HEADER -->
        {% include '_partials/_page_header.html.twig' %}
        <!-- END PAGE HEADER -->
        <!-- BEGIN PAGE BODY -->
        <div class="page-body">
            {% block pageBody %}{% endblock %}
        </div>
        <!-- END PAGE BODY -->
        <!--  BEGIN FOOTER  -->
        {% include '_partials/_footer.html.twig' %}
        <!--  END FOOTER  -->
    </div>
</div>
{% endblock page %}
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{{ asset('js/tabler.js') }}?1751266213" defer></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->
<!-- BEGIN PAGE SCRIPTS -->
<script src="{{ asset('assets/jquery-3.7.1.min.js') }}"></script>
<script src="{{ asset('libs/apexcharts/dist/apexcharts.js') }}?1751266219" defer></script>
{% block pagejs %}{% endblock %}
{#<script>#}
{#      document.addEventListener("DOMContentLoaded", function () {#}
{#        window.ApexCharts &&#}
{#          new ApexCharts(document.getElementById("chart-visitors"), {#}
{#            chart: {#}
{#              type: "line",#}
{#              fontFamily: "inherit",#}
{#              height: 96,#}
{#              sparkline: {#}
{#                enabled: true,#}
{#              },#}
{#              animations: {#}
{#                enabled: false,#}
{#              },#}
{#            },#}
{#            stroke: {#}
{#              width: [2, 1],#}
{#              dashArray: [0, 3],#}
{#              lineCap: "round",#}
{#              curve: "smooth",#}
{#            },#}
{#            series: [#}
{#              {#}
{#                name: "Visitors",#}
{#                data: [#}
{#                  7687, 7543, 7545, 7543, 7635, 8140, 7810, 8315, 8379, 8441, 8485, 8227, 8906, 8561, 8333, 8551, 9305, 9647, 9359, 9840, 9805, 8612, 8970,#}
{#                  8097, 8070, 9829, 10545, 10754, 10270, 9282,#}
{#                ],#}
{#              },#}
{#              {#}
{#                name: "Visitors last month",#}
{#                data: [#}
{#                  8630, 9389, 8427, 9669, 8736, 8261, 8037, 8922, 9758, 8592, 8976, 9459, 8125, 8528, 8027, 8256, 8670, 9384, 9813, 8425, 8162, 8024, 8897,#}
{#                  9284, 8972, 8776, 8121, 9476, 8281, 9065,#}
{#                ],#}
{#              },#}
{#            ],#}
{#            tooltip: {#}
{#              theme: "dark",#}
{#            },#}
{#            grid: {#}
{#              strokeDashArray: 4,#}
{#            },#}
{#            xaxis: {#}
{#              labels: {#}
{#                padding: 0,#}
{#              },#}
{#              tooltip: {#}
{#                enabled: false,#}
{#              },#}
{#              type: "datetime",#}
{#            },#}
{#            yaxis: {#}
{#              labels: {#}
{#                padding: 4,#}
{#              },#}
{#            },#}
{#            labels: [#}
{#              "2020-06-20",#}
{#              "2020-06-21",#}
{#              "2020-06-22",#}
{#              "2020-06-23",#}
{#              "2020-06-24",#}
{#              "2020-06-25",#}
{#              "2020-06-26",#}
{#              "2020-06-27",#}
{#              "2020-06-28",#}
{#              "2020-06-29",#}
{#              "2020-06-30",#}
{#              "2020-07-01",#}
{#              "2020-07-02",#}
{#              "2020-07-03",#}
{#              "2020-07-04",#}
{#              "2020-07-05",#}
{#              "2020-07-06",#}
{#              "2020-07-07",#}
{#              "2020-07-08",#}
{#              "2020-07-09",#}
{#              "2020-07-10",#}
{#              "2020-07-11",#}
{#              "2020-07-12",#}
{#              "2020-07-13",#}
{#              "2020-07-14",#}
{#              "2020-07-15",#}
{#              "2020-07-16",#}
{#              "2020-07-17",#}
{#              "2020-07-18",#}
{#              "2020-07-19",#}
{#            ],#}
{#            colors: ["color-mix(in srgb, transparent, var(--tblr-primary) 100%)", "color-mix(in srgb, transparent, var(--tblr-gray-400) 100%)"],#}
{#            legend: {#}
{#              show: false,#}
{#            },#}
{#          }).render();#}
{#      });#}
{#    </script>#}
<!-- END PAGE SCRIPTS -->
</body>
</html>
