{% for device in devices %}
    {% set isDeviceActive = device.history[0].status == constant('App\\Model\\Status::ACTIVE') %}
    <div class="col-md-6 col-xl-4">
        <div class="card card-sm">
            <div class="card-body py-2">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="{{ isDeviceActive ? 'bg-success' : 'bg-light-lt' }} avatar"></span>
                    </div>
                    <div class="col">
                        <div class="fw-bolder fs-3">{{ device.history[0].lastValue }} W</div>
                        <div class="text-secondary text-capitalize fw-bold">
                            <a href="{{ path('app_front_device_daily', {'device': device.name}) }}" class="text-secondary">
                                {{ device.name }}
                            </a>
                        </div>
                    </div>
                    <div class="col-auto text-end">
                        <div class="ms-3 float-right font-weight-medium {{ isDeviceActive ? 'text-green' : 'text-yellow' }} current-status-duration">
                            {{ device.history[0].statusDuration|readableDurationTime }}
                        </div>
                        <div class="float-right text-muted fs-base">
                            <span>&#8593; {{ device.dailyStats.inclusions|default(0) }}</span>
                            <span class="ms-1">&#9202; {{ device.dailyStats.totalActiveTime ? device.dailyStats.totalActiveTime|readableDurationTime : 0 }}</span>
                            <br>
                            <span class="ms-1">&#128498; {{ device.dailyStats.energy|default(0)|format_energy }}</span>
                            {% if device.name == 'piec' %}
                                <span class="ms-1">&#9832; {{ (device.dailyStats.energy * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME'))|format_gas_consume }}</span>
                            {% endif %}
                            {% if device.temperature is defined %}
                                {% set comparativeValue = buffer.temperature_15m ? buffer.temperature_15m.value : 25 %}
                                <span class="ms-1 {{ device.temperature.value > comparativeValue ? 'text-danger-emphasis' }}">&#127777;{{ device.temperature.value }} °C</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
