<div class="col-sm-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="subheader">
                    <a class="text-secondary" href="{{ path('app_front_location_buffer_index') }}">Bufor</a>
                </div>
                <div class="ms-auto lh-1 text-secondary">from 8h</div>
            </div>
            <div class="d-flex align-items-baseline">
                <div class="h1 mb-0 me-2">{{ buffer.temperature_15m.value|number_format(1) }} °C</div>
                <div class="h3 mb-0 me-2">/ {{ buffer.temperature_05m.value|number_format(1) }} °C</div>
                <div class="me-auto">
                    <span class="text-azure d-inline-flex align-items-center mb-0"
                          style="height: 16px; width: 16px; position: relative; top: 4px">
                        {{ include ('_icons/scuba-diving-icon.svg.twig') }}
                    </span>
                    {% if buffer.pressure is not null %}
                        <span class="text-azure d-inline-flex align-items-center">
                            {{ (buffer.pressure.value/100)|number_format(1) }} bar
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="chart-temp-bufor" class="position-relative rounded-bottom chart-sm chart-temperature"></div>
    </div>
</div>

{% for name, room in rooms %}
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">
                        {% if name == 'garage' %}
                            <a class="text-secondary" href="{{ path('app_front_default_location_index', {'location': 'garage', 'type': 'daily'}) }}">{{ name|trans }}</a>
                        {% else %}
                            <a class="text-secondary" href="{{ path('app_front_default_location_index', {'location': name, 'type': 'daily'}) }}">{{ name|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="ms-auto lh-1 text-secondary">from 8h</div>
                </div>
                <div class="d-flex align-items-baseline">
                    {% if room.temperature is not null %}
                        <div class="h1 mb-0 me-2">{{ room.temperature.value|number_format(1) }} °C</div>
                    {% endif %}
                    {% if room.humidity is defined and room.humidity is not null %}
                        <div class="me-auto">
                            <span class="text-azure d-inline-flex align-items-center mb-0"
                                  style="height: 16px; width: 16px; position: relative; top: 4px">
                                {{ include ('_icons/droplet-icon.svg.twig') }}
                            </span>
                                <span class="text-azure d-inline-flex align-items-center">
                                {{ room.humidity.value }}%
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="chart-temp-{{ name }}" class="position-relative rounded-bottom chart-sm chart-temperature"></div>
        </div>
    </div>
{% endfor %}

