{% for location in locations %}
    <div class="col-sm-6 col-lg-3">
        {% for device in temperatures|filter(v => v.device == location) %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="subheader">{{ location|trans }}</div>
                        <div class="ms-auto lh-1 text-secondary">from 8h</div>
                    </div>
                    <div class="d-flex align-items-baseline">
                        <div class="h1 mb-0 me-2">{{ device.value|number_format(1) }} °C</div>
                        <div class="me-auto">
                            {% for hum in humidity|filter(v => v.device == location) %}
                                <span class="text-azure d-inline-flex align-items-center mb-0"
                                      style="height: 16px; width: 16px; position: relative; top: 4px">
                                    {{ include ('_icons/droplet-icon.svg.twig') }}
                                </span>
                                <span class="text-azure d-inline-flex align-items-center">
                                    {{ hum.value }}%
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="chart-temp-{{ location }}" class="position-relative rounded-bottom chart-sm chart-temperature"></div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
