<div class="card card-sm">
    <div class="card-body">
        {% if weather is not null %}
            <div class="row align-items-center">
                <div class="col text-center">
                    <img src="{{ weather_symbol(weather.symbolCode) }}" alt="{{ weather.symbolCode }}" style="width: 80px; height: 80px;"/>
                    <div class="col-auto">
                        <img src="{{ weather_symbol(weather.symbolCode1h) }}" alt="{{ weather.symbolCode1h }}"
                             style="width: 28px; height: 28px;"/>
                        <span class="text-muted">/</span>
                        <img src="{{ weather_symbol(weather.symbolCode6h) }}" alt="{{ weather.symbolCode6h }}"
                             style="width: 28px; height: 28px;"/>
                        <span class="text-muted">/</span>
                        <img src="{{ weather_symbol(weather.symbolCode12h) }}" alt="{{ weather.symbolCode12h }}"
                             style="width: 28px; height: 28px;"/>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-0 text-nowrap">
                        {% set temperatureExtraClass = airQuality.temperature >= 30
                            ? 'text-danger' : (
                                airQuality.temperature >= 25 ? 'text-danger-emphasis' : (
                                    airQuality.temperature <= 0 ? 'text-info-emphasis' : (
                                        airQuality.temperature <= -5 ? 'text-info' : ''
                                    )
                                )
                            )
                        %}
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/temperature-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3 {{ temperatureExtraClass }}">{{ airQuality.temperature }} °C</span>
                    </div>
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/droplet-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3">{{ airQuality.humidity }} %</span>
                    </div>
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/solar-panel-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3">{{ weather.sunlightFactor }} %</span>
                    </div>
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/sunrise-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3">{{ sunrise_hour() }}</span>
                    </div>
                    {% set airQuality25ExtraClass = airQuality.pm25 >= 50 ? 'text-danger' : ( airQuality.pm25 >= 25 ? 'text-danger-emphasis' ) %}
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/25-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3 {{ airQuality25ExtraClass }}">{{ airQuality.pm25 }} <small>µg/m³</small></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-0 text-nowrap">
                        {% set airPressureExtraClass = weather.airPressure >= 1030
                            ? 'text-danger' : (
                                weather.airPressure >= 1020 ? 'text-danger-emphasis' : (
                                    weather.airPressure <= 1000 ? 'text-info-emphasis' : (
                                        weather.airPressure <= 990 ? 'text-info' : ''
                                    )
                                )
                            )
                        %}
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/brand-speedtest-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3 {{ airPressureExtraClass }}">{{ weather.airPressure|number_format(0, "", "") }} kPa</span>
                    </div>
                    <div class="mb-0 text-nowrap">
                        {% set precipitationExtraClass = weather.precipitation > 0 ? 'text-azure' : '' %}
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/cloud-rain-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3 {{ precipitationExtraClass }}">{{ weather.precipitation }} mm</span>
                    </div>
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/wind-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        {% set windExtraClass = weather.windSpeed >= 8 ? 'text-danger' : (weather.windSpeed >= 5 ? 'text-danger-emphasis' : '') %}
                        <span class="fs-3 {{ windExtraClass }}">{{ (weather.windSpeed * 3.6)|number_format(0) }} km/h</span>
                        <span class="wind-arrow__arrow" style="display:inline-block; transform: rotate({{ weather.windDirection }}deg); transform-origin: center;">
                            {{ include('_icons/arrow-up-icon.svg.twig', { size: 20 }) }}
                        </span>
                    </div>
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/sunset-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3">{{ sunset_hour() }}</span>
                    </div>
                    {% set airQuality10ExtraClass = airQuality.pm10 >= 100 ? 'text-danger' : ( airQuality.pm10 >= 50 ? 'text-danger-emphasis' ) %}
                    <div class="mb-0 text-nowrap">
                        <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                            {{ include('_icons/10-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                        </span>
                        <span class="fs-3 {{ airQuality10ExtraClass }}">{{ airQuality.pm10 }} <small>µg/m³</small></span>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mt-2">
                <div class="col">
                    <div class="row text-center">
                        <div class="col-4">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/temperature-plus-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.temperature6hMax }} °C</span>
                        </div>
                        <div class="col-4">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/temperature-minus-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.temperature6hMin }} °C</span>
                        </div>
                        <div class="col-4">
                            {% set precipitation6hExtraClass = weather.precipitation6h > 0 ? 'text-azure' : '' %}
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/cloud-rain-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3 {{ precipitation6hExtraClass }}">{{ weather.precipitation6h }} mm</span>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="fs-5 text-center text-muted">Brak aktualnych danych o pogodzie</div>
        {% endif %}
        <div class="row mt-2">
            <div class="col">
                <a href="#" class="btn btn-6 btn-outline-azure w-100" data-bs-toggle="modal" data-bs-target="#weatherCardModal">
                    Dziś
                </a>
            </div>
            <div class="col-auto">
                <a href="#" class="btn btn-icon btn-outline-azure w-100" data-bs-toggle="modal" data-bs-target="#weatherMeteogramModal">
                    {{ include('_icons/chart-histogram-icon.svg.twig') }}
                </a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-6 btn-outline-azure w-100" data-bs-toggle="modal" data-bs-target="#weatherTableModal">
                    Tydzień
                </a>
            </div>
        </div>
    </div>
</div>
