<div class="col-md-4 col-12 h-100">
    <div class="card card-sm">
        <div class="card-body">
            <div class="row align-items-center">
                {% if weather is not null %}
                    <div class="col text-center">
                        <img src="{{ weather_symbol(weather.symbolCode) }}" alt="{{ weather.symbolCode }}" style="width: 80px; height: 80px;"/>
                    </div>
                    <div class="col">
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/temperature-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.temperature }} °C</span>
                        </div>
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/droplet-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.humidity }} %</span>
                        </div>
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/solar-panel-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.sunlightFactor }} %</span>
                        </div>
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/sunrise-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ sunrise_hour() }}</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/brand-speedtest-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.airPressure|number_format(0, "", "") }} kPa</span>
                        </div>
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/umbrella-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.precipitation }} mm</span>
                        </div>
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/wind-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ weather.windSpeed }} m/s</span>
                            <span class="wind-arrow__arrow" style="display:inline-block; transform: rotate({{ weather.windDirection }}deg); transform-origin: center;">
                                {{ include('_icons/arrow-up-icon.svg.twig', { size: 20 }) }}
                            </span>
                        </div>
                        <div class="mb-0">
                            <span class="d-inline-flex align-items-center" style="position: relative; top: 4px">
                                {{ include('_icons/sunset-icon.svg.twig', { size: 20, class: 'text-azure' }) }}
                            </span>
                            <span class="fs-3">{{ sunset_hour() }}</span>
                        </div>
                    </div>
                {% else %}
                    <span class="fs-5 text-center text-muted">Brak danych o pogodzie</span>
                {% endif %}
            </div>
            <div class="row align-items-center">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="col-md-8 d-none d-md-block">#}
{#    <div class="card card-sm h-100">#}
{#        <div class="card-body">#}
{#            <div class="row align-items-center">#}
{#                <div class="col">#}
{#                    <h2>Ogrzewanie</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
