{% extends 'base.html.twig' %}

{% block pageTitle %}{{ device.name|capitalize }}{% endblock %}
{% block pagePreTitle %}Devices{% endblock %}

{% block pageTitleActions %}
    <div class="d-inline-flex">
        <div class="btn-group me-3" role="group">
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-1" autocomplete="off" checked="checked">
            <label for="btn-radio-basic-1" type="button" class="btn" onclick="location.href='{{ path('app_front_device_daily', {'device': device.name}) }}'">dzień</label>
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-2" autocomplete="off">
            <label for="btn-radio-basic-2" type="button" class="btn" onclick="location.href='{{ path('app_front_device_monthly', {'device': device.name}) }}'">miesiąc</label>
        </div>
        <div class="input-group">
            <button class="btn" type="button" id="prev-day-btn" aria-label="Poprzedni dzień">&#8592;</button>
            <input type="date" class="form-control" id="heating_date" value="{{ "now"|date("Y-m-d") }}" min="2024-01-01" max="{{ "now"|date("Y-m-d") }}" />
            <button class="btn" type="button" id="next-day-btn" aria-label="Następny dzień">&#8594;</button>
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12 col-md-3">
                <div class="card" id="device_stats">
                    {% if device.dailyStats is not null and device.dailyStats.date|date('Y-m-d') == "now"|date('Y-m-d') %}
                        {% set secondsPassed = "now"|date('U') - "today"|date('U') %}
                        {% set progressWidth = (secondsPassed / 86400) * 100 %}
                        {% set progressColor = 'bg-azure' %}
                    {% else %}
                        {% set progressWidth = 100 %}
                        {% set progressColor = 'bg-green' %}
                    {% endif %}
                    <div class="progress progress-3 card-progress">
                        <div class="progress-bar {{ progressColor }}" style="width: {{ progressWidth|round(2) }}%"
                             role="progressbar" aria-valuenow="{{ progressWidth|round }}" aria-valuemin="0" aria-valuemax="100">
                            <span class="visually-hidden">{{ progressWidth|round }}% Complete</span>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="card-title">Statystyki dzienne</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            {% if device.dailyStats is not null %}
                                <dt class="col-7 fw-light">Data:</dt>
                                <dd class="col-5 fw-bold">{{ device.dailyStats.date|date('d.m.Y') }}</dd>
                                <dt class="col-7 fw-light">Uruchomień:</dt>
                                <dd class="col-5 fw-bold">{{ device.dailyStats.inclusions|default(0) }}</dd>
                                <dt class="col-7 fw-light">Energia:</dt>
                                <dd class="col-5 fw-bold">{{ device.dailyStats.energy|default(0)|format_energy }}</dd>
                                {% if device.name == 'piec' %}
                                    <dt class="col-7 fw-light">Użycie gazu:</dt>
                                    <dd class="col-5 fw-bold">{{ (device.dailyStats.energy * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME'))|format_gas_consume }}</dd>
                                {% endif %}
                                <dt class="col-7 fw-light">Czas pracy:</dt>
                                <dd class="col-5 fw-bold">{{ device.dailyStats.totalActiveTime|default(0)|readableDurationTime }}</dd>
                                <dt class="col-7 fw-light">Najdłuższa praca:</dt>
                                <dd class="col-5 fw-bold">{{ device.dailyStats.longestRunTime|default(0)|readableDurationTime }}</dd>
                                <dt class="col-7 fw-light">Najdłuższa pauza:</dt>
                                <dd class="col-5 fw-bold">{{ device.dailyStats.longestPauseTime|default(0)|readableDurationTime }}</dd>
                            {% else %}
                                <div class="text-muted">Brak danych dla tego dnia.</div>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="card">
                    <div class="card-body" style="min-height: 432px;">
                        <div id="chart-power" class="position-relative" data-device-name="{{ device.name }}">
                            <div class="chart-loader position-absolute top-50 start-50 translate-middle" style="display: none; z-index: 10;">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="device_history">
                    <div class="card-header">
                        <h3 class="card-title">Historia załączeń</h3>
                    </div>
                    <div class="card-body">
                        {% if device.history is not null and device.history is not empty %}
                            <table class="table table-sm table-striped lh-1">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-end">Energia</th>
                                    {% if device.name == 'piec' %}
                                        <th scope="col" class="text-end">Użycie gazu</th>
                                    {% endif %}
                                    <th scope="col" class="text-end">Czas pracy</th>
                                    <th scope="col" class="text-end d-none d-md-block">Czas przerwy</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in device.history %}
                                    <tr>
                                        <td class="text-muted">{{ loop.index }}</td>
                                        <td>{{ row.running is defined ? row.running.startTime|date('H:i:s') : '' }}</td>
                                        <td class="text-end text-nowrap">{{ row.running is defined ? row.running.usedEnergy|format_energy : '' }}</td>
                                        {% if device.name == 'piec' %}
                                            <td class="text-end text-nowrap">
                                                {{ row.running is defined ? (row.running.usedEnergy * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME'))|format_gas_consume : '' }}
                                            </td>
                                        {% endif %}
                                        <td class="text-end">{{ row.running is defined ? row.running.statusDurationReadable : '' }}</td>
                                        <td class="text-end d-none d-md-block">{{ row.standby is defined ? row.standby.statusDurationReadable : '' }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <span class="text-muted">Brak danych</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/device/daily_power_chart.js') }}"></script>
{% endblock %}
