{% extends 'base.html.twig' %}

{% block pageTitle %}{{ device.name|capitalize }}{% endblock %}
{% block pagePreTitle %}Devices{% endblock %}

{% block pageTitleActions %}
    <div class="d-inline-flex">
        <div class="btn-group me-3" role="group">
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-1" autocomplete="off">
            <label for="btn-radio-basic-1" type="button" class="btn" onclick="location.href='{{ path('app_front_device_daily', {'device': device.name}) }}'">dzień</label>
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-2" autocomplete="off" checked="checked">
            <label for="btn-radio-basic-2" type="button" class="btn" onclick="location.href='{{ path('app_front_device_monthly', {'device': device.name}) }}'">miesiąc</label>
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-3" autocomplete="off">
            <label for="btn-radio-basic-3" type="button" class="btn" onclick="location.href='{{ path('app_front_device_yearly', {'device': device.name}) }}'">rok</label>
        </div>
        <div class="input-group">
            <button class="btn" type="button" id="prev-month-btn" aria-label="Poprzedni miesiąc">&#8592;</button>
            <input type="month" class="form-control" id="heating_date" value="{{ app.request.query.get('date') ? app.request.query.get('date')|date('Y-m') : "now"|date("Y-m") }}" min="2025-02" max="{{ "now"|date("Y-m") }}">
            <button class="btn" type="button" id="next-month-btn" aria-label="Następny miesiąc">&#8594;</button>
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12 col-md-3">
                <div class="card" id="device_stats">
                    {% set selected_date = app.request.query.get('date') ? app.request.query.get('date') : 'now' %}
                    {% set daysInMonth = 'now'|date('t') %}
                    {% if selected_date|date('Y-m') == 'now'|date('Y-m') %}
                        {% set dayOfMonth = 'now'|date('j') %}
                        {% set progressWidth = (dayOfMonth / daysInMonth) * 100 %}
                        {% set progressColor = 'bg-azure' %}
                    {% else %}
                        {% set progressWidth = 100 %}
                        {% set progressColor = 'bg-green' %}
                    {% endif %}
                    <div class="progress progress-3 card-progress">
                        <div class="progress-bar {{ progressColor }}" style="width: {{ progressWidth|round(2) }}%"
                             role="progressbar" aria-valuenow="{{ progressWidth|round }}" aria-valuemin="0" aria-valuemax="100">
                            <span class="visually-hidden">{{ progressWidth|round }}% Complete</span>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="card-title">Statystyki miesięczne</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            {% if device.monthlyStats is not null %}
                                <dt class="col-7 fw-light">Miesiąc:</dt>
                                <dd class="col-5 fw-bold">{{ app.request.query.get('date') ? (app.request.query.get('date')|date('m.Y')) : ("now"|date('m.Y')) }}</dd>
                                <dt class="col-7 fw-light">Uruchomień:</dt>
                                <dd class="col-5">
                                    {% set inclusions = device.monthlyStats.inclusions|default(0) %}
                                    <div class="fw-bold">{{ inclusions }}</div>
                                    {% if inclusions > 0 %}
                                        <div class="text-muted">
                                            {% if progressWidth == 100 %}
                                                {{ (inclusions/daysInMonth)|number_format(1) }}
                                            {% else %}
                                                {{ (inclusions/dayOfMonth)|number_format(1) }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </dd>
                                <dt class="col-7 fw-light">Energia:</dt>
                                <dd class="col-5">
                                    {% set energy = device.monthlyStats.energy|default(0) %}
                                    <div class="fw-bold">{{ energy|format_energy }}</div>
                                    {% if energy > 0 %}
                                        <div class="text-muted">
                                            {% if progressWidth == 100 %}
                                                {{ (energy/daysInMonth)|format_energy }}
                                            {% else %}
                                                {{ (energy/dayOfMonth)|format_energy }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </dd>
                                {% if device.name == 'piec' %}
                                    <dt class="col-7 fw-light">Użycie gazu:</dt>
                                    <dd class="col-5">
                                        {% set gasConsume = device.monthlyStats.gas|default(0) %}
                                        <div class="fw-bold">{{ gasConsume|format_gas_consume }}</div>
                                        {% if gasConsume > 0 %}
                                            <div class="text-muted">
                                                {% if progressWidth == 100 %}
                                                    {{ (gasConsume/daysInMonth)|format_gas_consume }}
                                                {% else %}
                                                    {{ (gasConsume/dayOfMonth)|format_gas_consume }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </dd>
                                {% endif %}
                                <dt class="col-7 fw-light">Czas pracy:</dt>
                                <dd class="col-5">
                                    {% set time = device.monthlyStats.time|default(0) %}
                                    <div class="fw-bold">{{ time|readableDurationTime }}</div>
                                    {% if time > 0 %}
                                        <div class="text-muted">
                                            {% if progressWidth == 100 %}
                                                {{ (time/daysInMonth)|readableDurationTime }}
                                            {% else %}
                                                {{ (time/dayOfMonth)|readableDurationTime }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </dd>
                            {% else %}
                                <div class="text-muted">Brak danych miesięcznych.</div>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="card">
                    <div class="card-body">
                        {% set monthly_chart_data = [] %}
                        {% if device.monthlyData %}
                            {% for stat in device.monthlyData %}
                                {% set gas = 0 %}
                                {% if device.name == 'piec' %}
                                    {% set gas = stat.energy|default(0) * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME') %}
                                {% endif %}
                                {% set monthly_chart_data = monthly_chart_data|merge([{
                                    'date': stat.date|date('Y-m-d'),
                                    'energy': stat.energy|default(0),
                                    'time': stat.totalActiveTime|default(0),
                                    'inclusions': stat.inclusions|default(0),
                                    'gas': gas
                                }]) %}
                            {% endfor %}
                        {% endif %}
                        <div id="chart-power" class="position-relative" data-device-name="{{ device.name }}" data-monthly-data="{{ monthly_chart_data is not empty ? monthly_chart_data|json_encode|e('html_attr') : '' }}">
                            <div class="chart-loader position-absolute top-50 start-50 translate-middle" style="display: none; z-index: 10;">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="device_stats">
                    <div class="card-header">
                        <h3 class="card-title">Zestawienie miesięczne</h3>
                    </div>
                    <div class="card-body">
                        {% if device.monthlyData is not empty %}
                            {% set maxDuration = 0 %}
                            {% for row in device.monthlyData %}
                                {% if row.totalActiveTime > maxDuration %}
                                    {% set maxDuration = row.totalActiveTime %}
                                {% endif %}
                            {% endfor %}
                            <table class="table table-sm table-striped lh-1">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-center">Data</th>
                                    <th scope="col" class="text-center d-none d-md-block">Uruchomień</th>
                                    <th scope="col" class="text-end">Energia</th>
                                    {% if device.name == 'piec' %}
                                        <th scope="col" class="text-end">Użycie gazu</th>
                                    {% endif %}
                                    <th scope="col" class="text-end">Czas pracy</th>
                                    <th scope="col" class="d-none d-mb-block">Czas pracy</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in device.monthlyData %}
                                    <tr{{ row.totalActiveTime < 60 ? ' class="text-muted"' }}>
                                        <td class="text-muted">{{ loop.index }}</td>
                                        <td class="text-center">
                                            <a class="link-white" href="{{ path('app_front_device_daily', {'device': device.name, 'date': row.date|date('Y-m-d')}) }}">
                                                {{ row.date|date('d.m.Y') }}
                                            </a>
                                        </td>
                                        <td class="text-center d-none d-md-block">{{ row.inclusions }}</td>
                                        <td class="text-end text-nowrap">{{ row.energy ? row.energy|format_energy : '0 Wh' }}</td>
                                        {% if device.name == 'piec' %}
                                            <td class="text-end text-nowrap">
                                                {{ (row.energy * constant('App\\Model\\Device\\Boiler::EST_FUEL_CONSUME'))|format_gas_consume }}
                                            </td>
                                        {% endif %}
                                        <td class="text-end">{{ row.totalActiveTime ? row.totalActiveTime|readableDurationTime : '' }}</td>
                                        <td class="ps-3 w-25">
                                            {% if maxDuration > 0 %}
                                                {% set widthPercentage = (row.totalActiveTime / maxDuration) * 100 %}
                                            {% else %}
                                                {% set widthPercentage = 0 %}
                                            {% endif %}
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-primary" style="width: {{ widthPercentage|round(1) }}%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <span class="text-muted">Brak danych</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/device/monthly_power_chart.js') }}"></script>
{% endblock %}
