{% extends 'base.html.twig' %}

{% block pageTitle %}Bufor{% endblock %}
{% block pagePreTitle %}Location{% endblock %}

{% block pageTitleActions %}
<div class="d-inline-flex">
{#        <div class="btn-group me-3" role="group">#}
{#            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-1" autocomplete="off" checked="checked">#}
{#            <label for="btn-radio-basic-1" type="button" class="btn" onclick="location.href='{{ path('app_front_location_living_room') }}'">dzień</label>#}
{#            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-2" autocomplete="off">#}
{#            <label for="btn-radio-basic-2" type="button" class="btn" onclick="location.href='{{ path('app_front_location_living_room') }}'">miesiąc</label>#}
{#        </div>#}
        <div class="input-group">
            <button class="btn" type="button" id="prev-day-btn" aria-label="Poprzedni dzień">&#8592;</button>
            <input type="date" class="form-control" id="location_date" value="{{ "now"|date("Y-m-d") }}" min="2025-03-12" max="{{ "now"|date("Y-m-d") }}" />
            <button class="btn" type="button" id="next-day-btn" aria-label="Następny dzień">&#8594;</button>
        </div>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards" style="min-height: 99px">
            <div class="col-md col-12">
                <div class="card">
                    <div class="card-body px-xl-3">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Bufor 1,5m
                                    </div>
                                </div>
                                <div class="d-flex align-items-baseline">
                                    <div class="h1 mb-0 text-nowrap">
                                        {{ current['bufor'].value }}
                                        <small>°C</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-inline align-items-baseline text-end">
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.temperature_min|number_format(2) }} <small>°C</small></div>#}
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.temperature|number_format(2) }} <small>°C</small></div>#}
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.temperature_max|number_format(2) }} <small>°C</small></div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-12">
                <div class="card">
                    <div class="card-body px-xl-3">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Bufor 0,5m
                                    </div>
                                </div>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <div class="h1 mb-0 text-nowrap">
                                        {{ current['bufor-solary'].value }}
                                        <small>°C</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-inline align-items-baseline text-end">
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.seaLevelPressure_min|number_format(1, '.', '') }} <small>kPa</small></div>#}
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.seaLevelPressure|number_format(1, '.', '') }} <small>kPa</small></div>#}
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.seaLevelPressure_max|number_format(1, '.', '') }} <small>kPa</small></div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-12">
                <div class="card">
                    <div class="card-body px-xl-3">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Ciśnienie
                                    </div>
                                </div>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <div class="h1 mb-0 text-nowrap">
                                        {{ ((current['pressure'].value)/100)|number_format(2) }}
                                        <small>bar</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-inline align-items-baseline text-end">
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.seaLevelPressure_min|number_format(1, '.', '') }} <small>kPa</small></div>#}
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.seaLevelPressure|number_format(1, '.', '') }} <small>kPa</small></div>#}
{#                                    <div class="h4 mb-0 text-nowrap text-muted lh-sm">{{ airQuality.daily.seaLevelPressure_max|number_format(1, '.', '') }} <small>kPa</small></div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-deck row-cards mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="min-height: 432px;">
                        <div id="location-chart" class="position-relative" data-location-slug="buffer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/buffer_chart.js') }}"></script>
{% endblock %}
